html,
body {
    height: 100%;
}

body { padding-top: 70px; }

footer {
    margin-top: 50px;
    padding-left : 0px;
}
footer p
{
  font-size: 12px;
}

.hidden {
	display : none;
}

.closed {
	display: none;
}
.opened {
	visibility: visible;
}

#mydiv {
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    position:fixed;
}