.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

.form-box input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;
}

.form-box input[type="text"]:focus, input[type="password"]:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;

}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: 80px;
    top: -32px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

.password{
    position: relative;
}

.password input[type="password"]{
    padding-right: 30px;
}