html,
body {
    height: 100%;
}

body { padding-top: 70px; }

footer {
    margin-top: 50px;
    padding-left : 0px;
}
footer p
{
  font-size: 12px;
}

.hidden {
	display : none;
}

.closed {
	display: none;
}
.opened {
	visibility: visible;
}

.btn-info {
    color: #fff;
    background-color: #E040FB;
    border-color: #E040FB;
}
.btn-info:hover{
    background-color: #cd30e8;
    border-color: #cd30e8;
}

.btn-primary{
    color : #fff;
    background-color: #3F51B5;
    border-color: #3F51B5;
}
.btn-primary:hover{
    background-color: #293fb5;
    border-color: #293fb5;
}

.btn-outline-primary {
    color: #3F51B5;
    background-color: transparent;
    background-image: none;
    border-color: #3F51B5;
}
.btn-outline-primary:hover{
    background-color: #3F51B5;
    border-color: #3F51B5;
}

#btnValider{
    margin-top: 5px;
    margin-bottom: 5px;
}

#mydiv {
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    position:fixed;
}

#myInput {
    background-image: url('../img/searchicon.png');
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

table { table-layout: fixed; }

table th, table td 
{ 
    overflow: hidden; 
}
.table > tbody > tr > td {
     vertical-align: middle;
}

.indigo
{
  background-color : #303F9F;
}